/*
 * Author: Vincent Garcia
 * URL: http://github.vincentgarcia.io
 *
 * Project Name: Personal Page
 * Version: 0.1
 */

@font-face {
font-family: "calluna-sans",sans-serif;
font-style: normal;
font-weight: 300;
}

@font-face {
	font-family: "calluna-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "calluna-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "adelle",serif;
	font-style: normal;
	font-weight: 900;
}


body {
	
 	text-align: center;	
	margin: 0;
	padding: 0;	 	
 }
 
section.title {
	background: black;
	margin: 0;
	padding: 5px;
}
 
 
h1 {	
	font-family: "adelle";
	font-weight: 900;
	font-size: 4em;
	color: white;
	padding: 40px 40px 0px 40px;
	margin: 0;
} 

h2 {
	font-family: "calluna-sans";
	font-weight: 300;
	font-size: 2em;
	color: #c9c9c9;
	padding: 0px 40px 40px 40px;
	margin: 0;
}

p {
	font-family: "calluna-sans";
	font-weight: 400;
	font-size: 8em;
	color: black;
	margin: 40px auto;
	line-height: 0.8em;

}
