/*
 * Author: Vincent Garcia
 * URL: http://github.vincentgarcia.io
 *
 * Project Name: Personal Page
 * Version: 0.1
 */

@font-face {
font-family: "calluna-sans",sans-serif;
font-style: normal;
font-weight: 300;
}

@font-face {
	font-family: "calluna-sans",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "calluna-sans",sans-serif;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "adelle",serif;
	font-style: normal;
	font-weight: 900;
}


body {
 	text-align: center;	
 	color: white;
 	background: -webkit-linear-gradient(#000000 0%, #ffffff 100%)
 	
 }
 
 
h1 {	
	font-family: "adelle";
	font-weight: 900;
	font-size: 4em;
} 

h2 {
	font-family: "calluna-sans";
	font-weight: 300;
	font-size: 2em;
	margin: -50px 0px 0px 0px;
	padding: 0;
}

p {
	font-family: "calluna-sans";
	font-weight: 400;
	font-size: 2em;
}
